div {
  text-align: center;
}

canvas {
  background: rgba(154, 205, 50, 0.4);
  border: 2px solid yellowgreen;
  border-radius: 5px;
}


p {
  text-align: center;
 font-family: 
 'Gloria Hallelujah', cursive;
  font-size: 30px;
  color: yellowgreen;
}

select {
  position: relative;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  background: black;
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,0.15);    
  box-shadow: 0 1px 1px rgba(50,50,50,0.1);
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color: yellowgreen;
  font-family: 
  'Gloria Hallelujah', cursive;
}

span {
  color: yellowgreen;
  font-weight: bold;
 font-family: 
 'Gloria Hallelujah', cursive;

}

input[type="color"] {
  background: yellowgreen;
  border: 2px solid;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: black;
    width: 200px;
    height:20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: yellowgreen;
    opacity: 0.5;
    width: 10px;
    height: 26px;
}

body {
  background: rgba(228, 236, 5, 0.56);
}

.toolbar span {
  margin-right: 10px;
  font-size: 30px;
}
