canvas {
    background: rgba(0,0,0,0.15);
    border: 2px solid #0A6D6D;
    border-radius: 5px;
}


select {
  position: relative;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  background: #fff;
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,0.15);    
  box-shadow: 0 1px 1px rgba(50,50,50,0.1);
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color: #8AA8BD;
}

span {
    color: #0A6D6D;
}
